body {
    background-color: #315E8B;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

.header {
    background-color: #C7E0FE;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    font-family: 'Eczar', serif;
    color: black;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
}

.logo-text {
    font-size: 2rem;
    font-family: 'Eczar', serif;
    font-weight: 400;
}

.header-buttons {
    padding-right: 20px;
}

.header-buttons button {
    background: none;
    border: none;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
    color: black;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-buttons button:hover {
    background-color: #8FB0D4;
}


.module-main {
    background-color: #ECF2FF;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 100px);
    box-sizing: border-box;
    color: black;
    font-family: 'Lexend', sans-serif;
}

.module-main h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Lexend', 'sans-serif';
}

.module-main h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

.module-main h5 {
    font-size: 1rem;
    text-align: center;
    color: #666666;
    margin-top: 5px;
}

.module-main h3 {
    font-size: 1.2rem;
    font-weight: normal;
}