.quiz-main {
    display: flex;
    flex-direction: row;
    height: 89vh;
    padding: 20px;
}

.quiz-sidebar {
    width: 25%;
    background-color: #525150;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    margin-right: 20px;
}

.sidebar-header {
    background-color: #363434;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sidebar-header h1 {
    font-size: 20px;
    color: #ffffff;
    font-family: lexend;
    margin: 10px;  
    text-align: center;
}

.sidebar-header h2 {
    font-size: 26px;
    color: #ffffff;
}

.sidebar-divider {
    width: 90%;
    height: 5px;
    background-color: #E4E6E8;
    margin: 5px auto 20px;
    border-radius: 5px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.sidebar-item {
    width: 95%;
    background-color: #F8F8F8;
    color: #363434;
    padding: 5px;
    font-family: lexend;
    font-size: 18px;
    border: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover {
    background-color: #E4E6E8;
    font-weight: bold;
}

.quiz-finalsubmit {
    width: 60%;
    background-color: #F4ECC9;
    color: #474746;
    padding: 10px;
    font-family: lexend;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}

.quiz-finalsubmit:hover {
    font-weight: bold;
}

.quiz-container {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
}

.quiz-container h3 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #333333;
}

.quiz-content {
    flex: 1;
    font-size: 22px;
    color: #333333;
    margin-bottom: 20px;
    display: block;
}

.question-options {
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.question-option-a {
    border-radius: 5px;
    padding: 5px;
}

.question-option-b {
    border-radius: 5px;
    padding: 5px;
}

.question-option-c {
    border-radius: 5px;
    padding: 5px;
}

.question-option-d {
    border-radius: 5px;
    padding: 5px;
}

.options-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.options-select label {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C7E0FE;
    font-family: lexend;
    font-size: 28px;
    color: #474746;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.5s ease;
    cursor: pointer;
}

.options-select input[type="radio"] {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #315E8B;
}

.options-select label:hover {
    background-color: #315E8B;
    color: #F8F8F8;
    font-weight: bold;
    text-decoration: underline;
}

.submit-button {
    display: block;
    margin: 70px auto 0;
    padding: 20px 50px;
    background-color: #C7E0FE;
    border: none;
    border-radius: 5px;
    color: #474746;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #CBE9A7;
}

.quiz-feedback {
    background-color: #525150;
    border-radius: 10px;
    padding: 5px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.quiz-feedback h8 {
    font-size: 30px;
    color: #F8F8F8;
    margin-top: 20px;
    text-align: center;
}

.quiz-feedback p3 {
    font-size: 16px;
    color: #F8F8F8;
    margin-top: 20px;
    text-align: center;
}